$primaryColor: #1f4034; 
$secondaryColor: #9B6241;
$accentColor: #64817d;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;